.homeicon{
    margin-left: 2vw;
    padding-top: 2.5vh;
    font-size: 3em;
}

.introduceWrap{
    text-align: center;
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 93vh;
}

.home{
    background-color: #141414;
}